<div class="container">
    <div class="row">
        <!-- HEADER AND QUESTION COUNT -->
        <div class="col-sm-offset-2 col-sm-8" style="margin-bottom: 15px">
            <h3>{{ question.title }}</h3>
            <a href="" style="text-decoration: none" ng-click="upVoteOne(question._id)">
                <span class="label label-warning"><span class="glyphicon glyphicon-arrow-up"></span> Vote {{ question.votes }}</span>
            </a>
        </div>

        <div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 30px">
            {{ question.description }}
        </div>


        <div class="col-sm-8 col-sm-offset-2">
            <h4>{{ question.answer_num }} Answers</h4>
            <hr>
        </div>

        <!--Answers List -->
        <div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 15px">
            <div class="container" ng-repeat="answer in answers | orderBy: '-votes'">
                <div class="row">
                    <div style="margin-bottom: 15px">
                        <a href=""><span class="glyphicon glyphicon-user"></span> Anonymous</a>
                    </div>
                    <div style="margin-bottom: 5px">
                        {{ answer.text }}
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <!-- FORM TO POST Answers -->
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <!-- BIND THIS VALUE TO formData IN ANGULAR -->
                <textarea rows="4" type="text" class="form-control"
                          placeholder="post your answer"
                          ng-model="formData.text"></textarea>
                </div>

                <!-- postQuestion() WILL CREATE NEW QUESTIONS -->
                <button type="submit" class="btn btn-primary btn-md pull-right" ng-click="postAnswer(question._id)">Post Answer</button>
            </form>
        </div>

    </div>

    <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </p>

    <br>

</div>